body {
    background-color: #0B486B;
}
.header {
    border-radius: 5px;
    height: 18%;
    width: 100%;
    background-color: #CFF09E;
    position: fixed;
    z-index: 1;
}
.left {
    float: left;
    border-radius: 5px;
    height: 82%;
    width: 36%;
    background-color: #A8DBA8;
}
.right {
    float: right;
    border-radius: 5px;
    height: 82%;
    width: 64%;
    background-color: #79BD9A;
}
.footer {
    clear: both;
    border-radius: 5px;
    height: 18%;
    width: 100%;
    background-color: #3B8686;
}
