body {
    background-color: #0B486B;
    padding: 2%;
}
.center {
    text-align: center;
}
.header {
    padding: inherit;
    background: #CFF09E;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.left {
    float: left;
    padding: inherit;
    background: #A8DBA8;
}
.right {
    float: right;
    padding: inherit;
    background: #79BD9A;
}
.bottom {
    clear: both;
    padding: inherit;
    background: #3B8686;
}
.footer {
    clear: both;
    padding: inherit;
    background: #888;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
